:root {
  --negro:        #0a0501;
  --rojo-oscuro:  #6b0a00;
  --rojo:         #c0110a;
  --rojo-vivo:    #e8180e;
  --dorado:       #c9890a;
  --dorado-claro: #f0b429;
  --oro:          #ffd55a;
  --naranja:      #e85d04;
  --blanco:       #fff8ee;
  --crema:        #fde9c0;
}
